[Unit]
Description=Pigeon Watergun
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/watergun
ExecStart=/usr/bin/python3 /home/pi/watergun/run.py
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
